<div>
    <div>
      <div>
        <h1 class="tituloPrincipal">Bienvenidos al área de control de estudiantes</h1>
      </div>

      <button type="button" class="boton1 btn btn-info" (click)="abrirDialogEstudiantes()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
      </button>

      <button type="button" class="boton2 btn btn-info" (click)="abrirDialogCursos()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
      </button>

      <div class="container1">
        <div>
          <div>
            <h1 class="titulosTexto1">Estudiantes</h1>
          </div>
    
          <table class="table">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of arrayEstudiantes">
                <td>{{ estudiante.estudiante.nombre}}</td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="eliminarEstudiante(estudiante)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="50" class="bi bi-trash3-fill"
                      viewBox="0 0 16 16">
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2
                         0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 
                         1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 
                         5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container2">
        <div>
          <div>
            <h1 class="titulosTexto2">Cursos</h1>
          </div>
    
          <table class="table">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let curso of arrayCursos">
                <td>{{ curso.curso.nombre}}</td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="eliminarCurso(curso)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="50" class="bi bi-trash3-fill"
                      viewBox="0 0 16 16">
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2
                         0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 
                         1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 
                         5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

     
    </div>

     <div>
        <button mat-raised-button class="botonGuardarultimo justify-content-center" >Matricular</button>
      </div>